#![enable(implicit_some)]

Prefab(
    entities: [
        (
            data: (
                graphics: (
                    mesh: Shape((
                        shape: Cube,
                    )),
                    material: (
                        albedo: Generate(Srgba(0.0,0.0,0.0,1.0)),
                    ),
                ),
                transform: (
                    scale: (1.0,0.2,1.0),
                ),
            )
        )
    ]
)