#![enable(implicit_some)]

Prefab(
    entities: [
        (
            data: (
                graphics: (
                    mesh: Shape((
                        shape: Cube,
                    )),
                    material: (
                        albedo: Generate(Srgba(0.6,0.6,0.6,1.0)),
                    ),
                ),
            )
        )
    ]
)